@import "tailwindcss";

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* Mobil cihazlarda inputa yazarkən avtomatik zoomun qarşısını alır */
@media (max-width: 767px) {
  input:not([type="checkbox"]):not([type="radio"]),
  textarea,
  select {
    font-size: 16px !important;
  }
}